---
layout: default
---

<div>
  <article role="article">
    {% if page.title %}
    <div class="page-header">
      <h1>
        {% if page.icon %}<img src="{{ page.icon }}" height="48"></img>{% endif %}
        {% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}

        {% if page.version %}
        <small>{{ page.version }}</small>
        {% endif %}
        <span class="pull-right" style="display:inline-block">
          <a href="{{ page.bug_tracker }}" class="btn btn-danger"><i class="fa fa-bug fa-lg"></i>&nbsp;&nbsp;Report a Bug</a>
          <a href="{{ page.source_code }}" class="btn btn-primary"><i class="fa fa-github fa-lg"></i>&nbsp;&nbsp;Source Code</a>
          
          {% if page.purchase %}
            <a type="button" class="btn btn-success" href="{{ page.purchase }}"><i class="fa fa-shopping-cart fa-lg"></i>&nbsp;&nbsp;Purchase ({{ page.price }})</a>
          {% else %}
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#install_modal"><i class="fa fa-download fa-lg"></i>&nbsp;&nbsp;Install</button>
          {% endif %}
        </span>
      </h1>
    </div>
    {% endif %}
  
    <p class="text-center" style="color:#777;font-size:250%">{{ page.subtitle }}</p>
    {{ content }}
  </article>

  {% if page.reviews %}
  <hr>

  <h3 class="text-center">What people say...</h3>
  <br>

  <div class="row" style="width:100%;margin-left: auto;margin-right: auto;">
    {% for review in page.reviews %}
    <div class="col-md-4 review-entry">
      <p>{{ review.text }}</p>
      
      <span style="color:#666">
      {% for star in review.rating %}
      {% if star == 1 %}
        <i class="fa fa-star"></i>
      {% else %}
        <i class="fa fa-star-o"></i>
      {% endif %}
      {% endfor %}
      
      <br>
     
      {{ review.author }}
      </span>
    </div>
    {% endfor %}
  </div>
  {% endif %}
  <br>
</div>

<!-- Modal -->
<div class="modal fade" id="install_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Install {{ page.title }}</h4>
      </div>
      <div class="modal-body">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
          <li class="active"><a href="#{{ page.platforms[0].link }}" data-toggle="tab">{{ page.platforms[0].name }}</a></li>
          <li><a href="#ubuntu-touch" data-toggle="tab">Ubuntu Touch</a></li>
        </ul>
        <br>
        <div class="tab-content">
          <div class="tab-pane fade in active" id="{{ page.platforms[0].link }}">{{ page.platforms[0].text }}</div>
          <div class="tab-pane fade" id="ubuntu-touch"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
  $(function() {
    var appBox = $(".review-entry").children("p");

    function resizeDiv () {
        appBox.height(appBox.width());
    }
    
    function setEqualHeight(columns)
    {
      var tallestcolumn = 0;
      columns.each(function() {
        currentHeight = $(this).height();
        if(currentHeight >= tallestcolumn) {
          tallestcolumn  = currentHeight;
        }
      });
      columns.height(tallestcolumn);
    }
    $(document).ready(function() {
      setEqualHeight(appBox);
    });
  
    $(window).resize(function() { setEqualHeight(appBox ) });
  })
</script>