<div id="footer">
  <div class="container">
    <h4 class="text-center text-muted" style="font-weight:lighter;">Copyright &copy; {{ site.time | date: "%Y" }} Sonrise Software</h4>
    
    <p class="text-center text-muted">
      <a href="https://plus.google.com/b/107244312470407761790/" class="link-muted">Follow us on Google+</a> |
      <a href="https://github.com/sonrisesoftware/" class="link-muted">Source Code on GitHub</a> |
      <a href="mailto:sonrisesoftware@gmail.com" class="link-muted">Contact Us</a>
    </p>
  </div>
</div>