<ul class="nav navbar-nav navbar-right">
  <li><a href="/about"><i class="fa fa-home fa-lg"></i> About Us</a></li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-shopping-cart fa-lg"></i> Products <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="/apps/project-dashboard">Project Dashboard</a></li>
      <li><a href="/apps/weekly-planner">Weekly Planner</a></li>
      <li><a href="/apps/ubuntu-tasks">Tasks for Ubuntu</a></li>
      <li><a href="/apps/weather-desktop">Weather Desktop</a></li>
    </ul>
  </li>
  <li><a href="/blog"><i class="fa fa-comments-o fa-lg"></i> Blog</a></li>
</ul>
